html, body {
    height: 100%;
}

body{
	color: #FFFFFF !important;
}

.main-container {
    height: 100%;
    min-height: 100%;
    display: block;
	background: #095EC0;
}

.header {
    height: 20%;
    min-height: 20%;
    display:block;
}

.content {
    height: 100%;
    min-height: 100%;
    display: block;
}

.main {
    height: 75%;
    min-height: 75%;
    display: block;
}

.footer {
    height: 20%;
    display:block;
	background:rgba(0,0,0,0.7);
	margin-top:2%;
	margin-left:1%;
	margin-right:1%;
	border-radius: 25px;
	box-shadow: 10px 5px 5px -2px rgba(0,0,0,0.75);
}

.title-events{
	margin-top: 38%;
	background:rgba(0,0,0,0.7);
	font-size: 28px;
	border-top-left-radius:25%;
    border-top-right-radius:25%;
	text-align:center;
	width: 90%;
}

.imagen{
	height:80%;
	width: 80%;
	margin: 10%;
}

.tag{
	
	transform: scale(3,4) rotate(270deg);
	transform-origin: center center;
}

.sidebar {
    height: 100%;
}

.event-bar {
    height: 100%;
    border-color: red;
    border-style: solid;
}

.slide-container {
    height: 100%;
}

.slide {
    height: 100%;
	box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.75);
	margin: 1%;
	background:rgba(0,0,0,0.7);
	border-radius: 25px;
}

.info{
	height: 80%;
	margin: 1%;
	width: 80%;
}

.col-left{
	height: 100%;
	margin: 1%;
}

.logo-container {
    height: 20%;
    border-color: green;
    border-style:solid;
}

.med-info {
    height: 36%;
	box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.75);
	background:rgba(0,0,0,0.7);
	border-radius: 25px;
	margin-bottom: 18%;
	text-align: center;
	padding-top: 40%;
}

.big-info {
    height: 56%;
	box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.75);
	background:rgba(0,0,0,0.7);
	border-radius: 25px;
}

.event-text {
    height: 100%;
    border-color: green;
    border-style:solid;
}

.event {
    height: 80%;
	width: 31.33333%;
	background:rgba(0,0,0,0.7);
	border-radius: 25px;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 1%;
}

.logo {
    max-width : 100%;
    max-height : 100%;
}

.hidden {
    display : none;
}

.main-slide{
	height: 100%;
}
.title{
	height: 10%;
}
.title > h1{
	font-size: 48px;
}
.text{
	margin-top: 10%;
	font-size: 20px;
}

.redes1{
	margin:10%;
	height: 40%;
	width: 80%;
	padding-top: 15%;
	padding-bottom: 5%;
	padding-left: 10%;
	padding-right: 10%;
	}
img {
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px !important;
}
.redes2{
	height: 40%;
	width: 80%;
	margin:10%;
	padding-top: 5%;
	padding-bottom: 15%;
	padding-left: 10%;
	padding-right: 10%;
}