@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: Gisha;
	src: url(../fonts/GISHA.TTF);
}

body{
	background-image: url(../images/blue80.jpg);
	font-size: 16px;
	font-family: Gisha;
	color: rgba(0,0,0,1.00);
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-size:cover;
	margin-left: -90px;
	margin-top: -10px;
}

h1,h2,h3,h4{
	margin:0;
	padding:0;
}

p{
	font-size:2.0em;
	font-weight:lighter;
	text-align: justify;
}

h1{
	font-size: 2.2em;
	font-weight: bold;
	font-style: normal;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	position: relative;
	top: 40%;
	white-space: pre;
	transform: translateY(-50%);
}

h2{
	font-size: 3em;
	font-weight: bold;
}

h3{
	font-size:2.1em;
	font-weight:normal;
	text-transform:uppercase;
}

h4{
	font-size:1.2em;
	font-weight:lighter;
}

img{
    position: relative;
	top: 50%;
	transform: translateY(-50%);
	max-height: 100%;
	max-width: 100%;
}

#contenedor{
	width:1720px;
	height:990px;
	margin:auto;
	padding:0;
}

#informacion{
	width:1770px;
	height:690px;
	padding:0;
	margin:50px;
	float:left;
}

#logo-tag{
	width:300px;
	height:690px;
	padding:0;
	float: left;
	background-color: rgba(255,255,255,0.70);
	box-shadow: 10px 10px 10px rgba(0,0,0,0.50);
	border-radius:20px;
}

#logo img{
	margin:28px;
	/*float:left;*/
	top: 0%;
	transform: translateY(0%);
}

.div-tag{
	/*width: 25px;
	height: 440px;
	word-wrap: break-word;
	text-align: center;
	padding-right: 30px;
	margin: 230px auto auto auto;*/
	position:relative;
	text-transform: uppercase;
	  height: 60%;
}

.news-slides{
	width: 1000px;
	height: 690px;
	padding: 0;
	float: left;
	margin-left:50px;
	background-color: rgba(255,255,255,0.70);
	box-shadow: 10px 10px 10px rgba(0,0,0,0.50);
	border-radius:20px;
}

.imagen{
	width:900px;
	height:590px;
	margin:50px;
	text-align:center;
	vertical-align:central;
}

.titulo{
	width:900px;
	height:auto;
	margin: 50px 50px 30px 50px;
	padding:0;
	padding-bottom:20px;
	float:left;
	border-bottom:thin solid rgba(0,0,0,1.00);
}

.bajada{
	width:900px;
	height:auto;
	margin:0 50px 30px 50px;
	padding:0;
	float:left;
	font-size:1.5em;
	
}

.t-b-img{
	width:900px;
	height:400px;
	margin:20px 50px;
	padding:0;
	text-align:left;
	text-align:center;
	vertical-align:central;
}

.t-text-i{
	width:500px;
	height:400px;
	margin: 20px 50px;
	float:left;
	padding:0;
}

.t-t-img{
	width:350px;
	height:400px;
	margin: 20px 50px 20px 0px;
	float:left;
	padding:0;
	text-align:center;
	vertical-align:central;
}

.texto{
	width:900px;
	height:auto;
	margin: auto;
	padding:0;
	text-align:left;
}

#tiempo{
	width:320px;
	height:330px;
	float:left;
	margin: 0 50px 50px 50px;
	padding: 0;
	background-color: rgba(255,255,255,0.70);
	box-shadow: 10px 10px 10px rgba(0,0,0,0.50);
	border-radius: 20px;
}

#tiempo h2{
	font-size:4em;
	font-weight:lighter;
	vertical-align:central;
	margin:0;
	padding:0;
}

#tiempo h3{
	font-size:1.8em;
	text-transform:lowercase;
}

#tiempo h4{
	font-size:1.5em;
	font-weight:bold;
}

#tiempo p{
	margin:0;
	padding:0;
	font-size:1.5em;
	font-weight:bold;
	padding-top:10px;
}

#fecha{
	width:220px;
	height:70px;
	float:left;
	margin:50px 50px 35px 50px;
	padding:0;
}

#numero{
	float:left;
	margin: 0 20px 0 0;
}

#mm-yy{
	width:120px;
	float:left;
	margin:0 auto 5px 0;
	text-align:center;
}

#hora{
	width:120px;
	float:left;
	margin:5px auto 0 0;
	text-align:center;
}

#dia{
	width:220px;
	height:30px;
	float:left;
	margin:0 50px;
	padding:0;
	border-top:thin solid rgba(0,0,0,1.00);
	text-align:center;
}

#temperatura{
	width:220px;
	height:80px;
	float:left;
	margin: 20px 50px 50px 50px;
	padding:0;
}

#t-actual{
	float:left;
	margin:0 10px 0 0;
	padding-right:6px;
	border-right:thin solid rgba(0,0,0,1.00)
}

#max-min{
	width:100px;
	float:left;
	margin:0 auto 5px 0;
	text-align:center;
}

#i-dia{
	width:100px;
	height:80px;
	float:left;
	margin:-10px auto 0 0;
	text-align:center;
}

#redes{
	width:320px;
	height:315px;
	float:left;
	margin: 0 50px 0 50px;
	padding:0;
	background-color: rgba(255,255,255,0.70);
	box-shadow: 10px 10px 10px rgba(0,0,0,0.50);
	border-radius: 20px;
}

#redes img{
	width:40px;
	height:40px;
	float:left;
	margin: 0 20px 0px 50px;
	text-align:center;
	top: 0%;
	transform: translateY(0%);
}

#redes h4{
	font-size: 1.8em;
	font-weight: bold;
	text-align:center;
	margin: 40px 40px 40px 40px;
	border-bottom:thin solid rgba(0,0,0,1.00);
}

#redes h3{
	width:240px;
	float:left;
	font-size: 1.5em;
	font-weight: bold;
	text-align:center;
	margin: 20px 40px 40px 40px;
	text-transform:lowercase;
}

#redes p{
	width:100px;
	height: 35px;
	float:left;
	font-size: 1.5em;
	font-weight: bold;
	text-align: left;
	margin: 10px 10px;
}

.facebook {
  color: #365596;
}

.twitter {
  color: #007896;
}

#eventos{
	width:1770px;
	height:250px;
	margin: 0 50px 50px 50px;
	float:left;

}

.event{
	width:540px;
	height:250px;
	float:left;
	margin-right: 50px;
	background-color: rgba(255,255,255,0.70);
	box-shadow: 10px 10px 10px rgba(0,0,0,0.50);
	border-radius: 20px;
}

.event p{
	font-size:1.2em;
}

.no-event{
    position: relative;
    top: 30%;
    transform: translateY(-50%);
}

.info{
	width:460px;
	height:auto;
	margin: 40px auto;
}

.info h4{
	font-size: 1.4em;
	font-weight: bold; 
}

.info-i {
	width:250px;
	height:auto;
	margin: 40px 0 auto 40px;
	float:left;
}

.info-i h4{
	font-size: 1.4em;
	font-weight: bold; 
}

.i-img {
	width:170px;
	height: 170px;
	margin: 40px 40px;
	float:left;
}

.tema{
	font-weight:bold;
}

.p-tag{
  transform-origin: center center;
  transform: rotate(270deg);
  text-align: center;
  font-size: 100%;
  margin-top: 60%;
}