{% extends "DCCNews/base.html" %}
{% load staticfiles %}

{% block head %}
    <script>
        function checkCirculation(){
            if (new Date($("#id_start_circulation").val()) && new Date($("#id_end_circulation").val())){
                if (new Date($("#id_start_circulation").val()) >= new Date($("#id_end_circulation").val())){
                    $("#id_start_circulation").parent().addClass("has-error");
                    $("#id_end_circulation").parent().addClass("has-error");
                }
                else{
                    $("#id_start_circulation").parent().removeClass("has-error");
                    $("#id_end_circulation").parent().removeClass("has-error");
                }
            }
        }
    </script>
{% endblock %}

{% block content %}
    <legend>Creación de Evento</legend>
    {% if mensaje %}
        <div class="col-lg-12">
            <div class="alert alert-success" role="alert">Cambios guardados de forma exitosa</div>
        </div>
    {% endif %}
    <div class="col-lg-6">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-lg-5 col-md-5 control-label">{{ form.name.label }}:</label>
                            <div class="col-lg-7 col-md-5 text-danger text-right">{{ form.name.errors.as_text }}</div>
                        </div>
                        {{ form.name }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-lg-5 col-md-5 control-label">{{ form.exhibitor.label }}:</label>
                            <div class="col-lg-7 col-md-5 text-danger text-right">{{ form.exhibitor.errors.as_text }}</div>
                        </div>
                        {{ form.exhibitor }}
                    </div>
                </div>
            </div>
            {% if form.image %}
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5 col-md-5 control-label">{{ form.image.label }}:</label>
                                <div class="col-lg-7 col-md-5 text-danger text-right">{{ form.image.errors.as_text }}</div>
                            </div>
                            {{ form.image }}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-lg-5 col-md-5 control-label">{{ form.date.label }}:</label>
                            <div class="col-lg-7 col-md-5 text-danger text-right">{{ form.date.errors.as_text }}</div>
                        </div>
                        {{ form.date }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-lg-5 col-md-5 control-label">{{ form.time.label }}:</label>
                            <div class="col-lg-7 col-md-5 text-danger text-right">{{ form.time.errors.as_text }}</div>
                        </div>
                        {{ form.time }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-lg-5 col-md-5 control-label">{{ form.place.label }}:</label>
                            <div class="col-lg-7 col-md-5 text-danger text-right">{{ form.place.errors.as_text }}</div>
                        </div>
                        {{ form.end_circulation }}
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-lg-5 col-md-5 control-label">{{ form.start_circulation.label }}:</label>
                            <div class="col-lg-7 col-md-5 text-danger text-right">{{ form.start_circulation.errors.as_text }}</div>
                        </div>
                        {{ form.start_circulation }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-lg-5 col-md-5 control-label">{{ form.end_circulation.label }}:</label>
                            <div class="col-lg-7 col-md-5 text-danger text-right">{{ form.end_circulation.errors.as_text }}</div>
                        </div>
                        {{ form.end_circulation }}
                    </div>
                </div>
            </div>
            {{ form.slide_type }}
            <button class="btn btn-success" type="submit">Guardar</button>
            <a href="#" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
    <div class="col-lg-offset-1 col-lg-3 text-center hidden-xs">
        <label>Plantilla seleccionada</label>
        <img src="{% static image  %}">
        {% if new %}
            <a href="{% url 'template_selection' %}" class="btn btn-primary">Volver</a>
        {% endif %}
    </div>

{% endblock %}