{% extends "DCCNews/base.html" %}
{% load staticfiles %}

{% block head %}
    <script src="{% static 'DCCNews/js/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'DCCNews/js/DateTimePickers.js' %}"></script>
    <script src="{% static 'DCCNews/js/es.js' %}"></script>
    <link rel="stylesheet" href="{% static 'DCCNews/style/bootstrap-datetimepicker.css' %}" />
    <script src="{% static 'DCCNews/js/validateForms.js' %}"></script>
{% endblock %}

{% block content %}
    {% if new %}
        <legend>Creación de evento</legend>
    {% else %}
        <legend>Edición de evento</legend>
    {% endif %}

    {% if mensaje %}
        <div class="col-lg-12">
            <div class="alert alert-success" role="alert">Cambios guardados de forma exitosa</div>
        </div>
    {% endif %}
    <div class="col-lg-6">
        <form action="" method="post" enctype="multipart/form-data" id="formID" onsubmit="return validateForms()">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-lg-5 col-md-5 control-label">{{ form.title.label }}:</label>
                            <div class="col-lg-7 col-md-5 text-danger text-right">{{ form.title.errors.as_text }}</div>
                        </div>
                        {{ form.title }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-lg-5 col-md-5 control-label">{{ form.exhibitor.label }}:</label>
                            <div class="col-lg-7 col-md-5 text-danger text-right">{{ form.exhibitor.errors.as_text }}</div>
                        </div>
                        {{ form.exhibitor }}
                    </div>
                </div>
            </div>
            {% if form.image %}
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5 col-md-5 control-label">{{ form.image.label }}:</label>
                                <div class="col-lg-7 col-md-5 text-danger text-right">{{ form.image.errors.as_text }}</div>
                            </div>
                            {{ form.image }}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-lg-5 col-md-5 control-label">{{ form.date.label }}:</label>
                            <div class="col-lg-7 col-md-5 text-danger text-right">{{ form.date.errors.as_text }}</div>
                        </div>
                        {{ form.date }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-lg-5 col-md-5 control-label">{{ form.time.label }}:</label>
                            <div class="col-lg-7 col-md-5 text-danger text-right">{{ form.time.errors.as_text }}</div>
                        </div>
                        {{ form.time }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-lg-5 col-md-5 control-label">{{ form.place.label }}:</label>
                            <div class="col-lg-7 col-md-5 text-danger text-right">{{ form.place.errors.as_text }}</div>
                        </div>
                        {{ form.place }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-lg-5 col-md-5 control-label">{{ form.start_circulation.label }}:</label>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                {{ form.start_circulation }}
                                <div class="text-danger">{{ form.start_circulation.errors.as_text }}</div>
                            </div>
                            <div class="col-lg-6">
                                {{ form.start_circulation_time }}
                                <div class="text-danger">{{ form.start_circulation_time.errors.as_text }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-lg-5 col-md-5 control-label">{{ form.end_circulation.label }}:</label>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                {{ form.end_circulation }}
                                <div class="text-danger">{{ form.end_circulation.errors.as_text }}</div>
                            </div>
                        <div class="col-lg-6">
                                {{ form.end_circulation_time }}
                                <div class="text-danger">{{ form.end_circulation_time.errors.as_text }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form.slide_type }}
            <div class="row">
                <div class="col-lg-5 col-md-5">
                    <div class="form-group">
                        <button id="submitButton" class="btn btn-success" type="submit">Guardar</button>
                        {% if new %}
                            <a href="{% url 'index' %}" class="btn btn-danger" onClick="return confirm('¿Esta seguro que desea cancelar?')">Cancelar</a>
                        {% else %}
                            <a href="{% url 'search_event' %}?cancel=1" class="btn btn-danger" onClick="return confirm('¿Esta seguro que desea cancelar?')">Cancelar</a>
                        {% endif %}
                    </div>
                </div>
                <div id="processing" class="col-lg-7 col-md-7" style="display: none;">
                    <div class="form-group">
                        <div class="alert alert-success" role="alert">Procesando. Por favor espere.</div>
                    </div>
                </div>
            </div>
        </form>
        <input type="hidden" id="hide_start_cirulation">
        <input type="hidden" id="hide_end_cirulation">
    </div>
    <div class="col-lg-offset-1 col-lg-3 text-center hidden-xs">
        <label>Plantilla seleccionada</label>
        <img src="{% static image  %}">
        {% if new %}
            <a href="{% url 'template_selection' %}" class="btn btn-primary">Volver</a>
        {% endif %}
    </div>

{% endblock %}