{% extends "DCCNews/base.html" %}
{% load staticfiles %}

{% block content %}
    <legend>Creación de Evento</legend>
    {% if mensaje %}
    <div class="col-lg-12">
        <div class="alert alert-success" role="alert">Cambios guardados de forma exitosa</div>
    </div>
    {% endif %}
    <div class="col-lg-6">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        {{ form.name.errors }}
                        <label class="control-label">{{ form.name.label }}:</label>
                        {{ form.name }}
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        {{ form.exhibitor.errors }}
                        <label class="control-label">{{ form.exhibitor.label }}:</label>
                        {{ form.exhibitor }}
                    </div>
                </div>
            </div>
            {% if form.image %}
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            {{ form.image.errors }}
                            <label class="control-label">{{ form.image.label }}:</label>
                            {{ form.image }}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        {{ form.date.errors }}
                        <label class="control-label">{{ form.date.label }}:</label>
                        {{ form.date }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        {{ form.time.errors }}
                        <label class="control-label">{{ form.time.label }}:</label>
                        {{ form.time }}
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            {{ form.place.errors }}
                            <label class="control-label">{{ form.place.label }}:</label>
                            {{ form.place }}
                        </div>
                    </div>
                </div>


            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        {{ form.start_circulation.errors }}
                        <label class="control-label">{{ form.start_circulation.label }}:</label>
                        {{ form.start_circulation }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        {{ form.end_circulation.errors }}
                        <label class="control-label">{{ form.end_circulation.label }}:</label>
                        {{ form.end_circulation }}
                    </div>
                </div>
            </div>
            {{ form.slide_type }}
            <button class="btn btn-success" type="submit">Guardar</button>
            <a href="#" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
    <div class="col-lg-offset-1 col-lg-3 text-center">
        <label>Plantilla seleccionada</label>
        <img src="{% static image  %}">
        <a href="{% url 'template_selection' %}" class="btn btn-primary">Volver</a>
    </div>

{% endblock %}