{% extends "DCCNews/base.html" %}
{% load staticfiles %}
{% block content %}
    {% if create %}
        <div class="alert alert-success" role="alert">El contenido se ha guardado de forma exitosa.</div>
    {% endif %}
    {% if login %}
        <div class="alert alert-warning" role="alert">Ya hay una sesión iniciada.</div>
    {% endif %}

    <h1>Bienvenido a Noticias DCC</h1>
    <h2>Seleccione la actividad que desea realizar</h2>
    <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
    <legend ALIGN=center >Creación de Contenido</legend>
    <row >
        <div class="btn-group btn-group-justified" >
            <a href="{% url 'template_selection' %}" class="btn btn-primary btn-lg btn-block" role="button">Crear</a>
        </div>
    </row>
    <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
    <legend ALIGN=center>Búsqueda de contenido</legend>
    <row>
        <div class="btn-group btn-group-justified" >
            <a href="{% url 'search_event' %}"  class="btn btn-primary btn-lg btn-block" role="button">Evento</a>
            <a href="{% url 'search_slide' %}"  class="btn btn-primary btn-lg btn-block" role="button">Diapositiva</a>
        </div>
    </row>
    <hr style="width: 100%; color: black; height: 0.5px; background-color:black;" />
    <legend ALIGN=center>Visualización de Display</legend>
    <row>
        <div class="btn-group btn-group-justified" >
            <a href="/news/visualize/1" class="btn btn-info btn-lg btn-block" role="button">Ver ahora</a>
        </div>
    </row>

{% endblock %}
