<div class="news-slides">
    {% for current_slide in slide_list %}
    {% with template=current_slide.template %}
    {% include template with slide=current_slide %}
    {% endwith %}
    {% endfor %}
</div>

<div class="div-tag">
    {% for current_slide in slide_list %}
    <h1 class="{{current_slide.id}}" style="display: none">
        {{ current_slide.tag }}
    </h1>
    {% endfor %}
</div>

<div id="eventos">
    {% for current_event in event_list %}
    <div class="event">
        {% with template=current_event.template %}
        {% include template with event=current_event %}
        {% endwith %}
    </div>
    {% endfor %}
</div>