{% extends "DCCNews/base.html" %}
{% load staticfiles %}

{% block head %}
    <script src="{% static 'DCCNews/js/Calendario1/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'DCCNews/js/DateTimePickers.js' %}"></script>
    <link rel="stylesheet" href="{% static 'DCCNews/style/Calendario1/bootstrap-datetimepicker.css' %}" />
    <script src="{% static 'DCCNews/js/validateForms.js' %}"></script>
{% endblock %}

{% block content %}
    {% if new %}
        <legend>Creación de diapositiva</legend>
    {% else %}
        <legend>Edición de diapositiva</legend>
    {% endif %}
    {% if mensaje %}
        <div class="col-lg-12">
            <div class="alert alert-success" role="alert">Cambios guardados de forma exitosa</div>
        </div>
    {% endif %}
    <div class="col-lg-6 col-md-9">
        <form action="" method="post" enctype="multipart/form-data" id="formID" onsubmit="return validateForms()">
            {% csrf_token %}
            {% if form.title %}
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5 col-md-5 control-label">{{ form.title.label }}:</label>
                                <div class="col-lg-7 col-md-5 text-danger text-right">{{ form.title.errors.as_text }}</div>
                            </div>
                            {{ form.title }}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if form.subhead %}
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5 col-md-5 control-label">{{ form.subhead.label }}:</label>
                                <div class="col-lg-7 col-md-5 text-danger text-right">{{ form.subhead.errors.as_text }}</div>
                            </div>
                            {{ form.subhead }}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if form.body %}
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5 col-md-5 control-label">{{ form.body.label }}:</label>
                                <div class="col-lg-7 col-md-5 text-danger text-right">{{ form.body.errors.as_text }}</div>
                            </div>
                            {{ form.body }}
                        </div>
                    </div>
                </div>
            {% endif %}
            {#        Replicaraaar#}
            {% if form.image %}
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5 col-md-5 control-label">{{ form.image.label }}:</label>
                                <div class="col-lg-7 col-md-5 text-danger text-right">{{ form.image.errors.as_text }}</div>
                            </div>
                            {{ form.image }}
                        </div>
                    </div>
                </div>
            {% endif %}


            {{ form.date_error.errors }}
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-lg-5 col-md-5 control-label">{{ form.start_circulation.label }}:</label>
                            <div class="col-lg-7 col-md-5 text-danger text-right">{{ form.start_circulation.errors.as_text }}</div>
                        </div>
                        {{ form.start_circulation }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-lg-5 col-md-5 control-label">{{ form.end_circulation.label }}:</label>
                            <div class="col-lg-7 col-md-5 text-danger text-right">{{ form.end_circulation.errors.as_text }}</div>
                        </div>
                        {{ form.end_circulation }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-lg-5 col-md-5 control-label">{{ form.slide_type.label }}:</label>
                            <div class="col-lg-7 col-md-5 text-danger text-right">{{ form.slide_type.errors.as_text }}</div>
                        </div>
                        {{ form.slide_type }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-5">
                    <div class="form-group">
                        <button id="submitButton" class="btn btn-success" type="submit">Guardar</button>
                        <a href="{% url 'index' %}" class="btn btn-danger" onClick="return confirm('¿Esta seguro que desea cancelar?')">Cancelar</a>
                    </div>
                </div>
                <div id="processing" class="col-lg-7 col-md-7" style="display: none;">
                    <div class="form-group">
                        <div class="alert alert-success" role="alert">Procesando. Por favor espere.</div>
                    </div>
                </div>
            </div>
        </form>
        {#        <input type="hidden" id="hide_start_cirulation">#}
        {#        <input type="hidden" id="hide_end_cirulation">#}
    </div>
    <div class="col-lg-offset-1 col-lg-3 text-center col-md-3 hidden-xs hidden-sm">
        <label>Plantilla seleccionada</label>
        <img src="{% static image  %}">
        {% if new %}
            <a href="{% url 'template_selection' %}" class="btn btn-primary">Volver</a>
        {% endif %}
    </div>

{% endblock %}