{% extends "DCCNews/base.html" %}
{% load staticfiles %}

{% block head %}
    <script>
        function checkCirculation(){
            if (new Date($("#id_start_circulation").val()) && new Date($("#id_end_circulation").val())){
                if (new Date($("#id_start_circulation").val()) >= new Date($("#id_end_circulation").val())){
                    $("#id_start_circulation").parent().addClass("has-error");
                    $("#id_end_circulation").parent().addClass("has-error");
                }
                else{
                    $("#id_start_circulation").parent().removeClass("has-error");
                    $("#id_end_circulation").parent().removeClass("has-error");
                }
            }
        }
    </script>

{% endblock %}

{% block content %}

    <legend>Creación de diapositiva</legend>
    {% if mensaje %}
        <div class="col-lg-12">
            <div class="alert alert-success" role="alert">Cambios guardados de forma exitosa</div>
        </div>
    {% endif %}
    <div class="col-lg-6 col-md-9">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.title %}
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5 col-md-5 control-label">{{ form.title.label }}:</label>
                                <div class="col-lg-7 col-md-5 text-danger text-right">{{ form.title.errors.as_text }}</div>
                            </div>
                            {{ form.title }}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if form.subhead %}
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5 col-md-5 control-label">{{ form.subhead.label }}:</label>
                                <div class="col-lg-7 col-md-5 text-danger text-right">{{ form.subhead.errors.as_text }}</div>
                            </div>
                            {{ form.subhead }}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if form.body %}
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5 col-md-5 control-label">{{ form.body.label }}:</label>
                                <div class="col-lg-7 col-md-5 text-danger text-right">{{ form.body.errors.as_text }}</div>
                            </div>
                            {{ form.body }}
                        </div>
                    </div>
                </div>
            {% endif %}
            {#        Replicaraaar#}
            {% if form.image %}
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5 col-md-5 control-label">{{ form.image.label }}:</label>
                                <div class="col-lg-7 col-md-5 text-danger text-right">{{ form.image.errors.as_text }}</div>
                            </div>
                            {{ form.image }}
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-lg-5 col-md-5 control-label">{{ form.start_circulation.label }}:</label>
                            <div class="col-lg-7 col-md-5 text-danger text-right">{{ form.start_circulation.errors.as_text }}</div>
                        </div>
                        {{ form.start_circulation }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-lg-5 col-md-5 control-label">{{ form.end_circulation.label }}:</label>
                            <div class="col-lg-7 col-md-5 text-danger text-right">{{ form.end_circulation.errors.as_text }}</div>
                        </div>
                        {{ form.end_circulation }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-lg-5 col-md-5 control-label">{{ form.slide_type.label }}:</label>
                            <div class="col-lg-7 col-md-5 text-danger text-right">{{ form.slide_type.errors.as_text }}</div>
                        </div>
                        {{ form.slide_type }}
                    </div>
                </div>
            </div>
            <button class="btn btn-success" type="submit">Guardar</button>
            <a href="{% url 'index' %}" class="btn btn-danger" onClick="return confirm('¿Esta seguro que desea cancelar?')">Cancelar</a>
        </form>
    </div>
    <div class="col-lg-offset-1 col-lg-3 text-center col-md-3 hidden-xs hidden-sm">
        <label>Plantilla seleccionada</label>
        <img src="{% static image  %}">
        {% if new %}
            <a href="{% url 'template_selection' %}" class="btn btn-primary">Volver</a>
        {% endif %}
    </div>

{% endblock %}