{% extends "DCCNews/base.html" %}
{% load staticfiles %}

{% block head %}
<!--  Se cargan los script necesarios para que aparesca el calendario -->
    <script src="{% static 'DCCNews/js/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'DCCNews/js/DateTimePickers.js' %}"></script>
    <script src="{% static 'DCCNews/js/es.js' %}"></script>
    <link rel="stylesheet" href="{% static 'DCCNews/style/bootstrap-datetimepicker.css' %}" />
{% endblock %}

{% block content %}
    {% if Borrado %}
<!--     Si se pidio que se borrara un item y fue exitoso se muestra este mensaje -->
        <div class="col-lg-12">
            <div class="alert alert-success" role="alert">El evento ha sido exitosamente borrado.</div>
        </div>
    {% elif cancel %}
<!-- Si viene de una de una edicion y se cancela se muestra este mensaje  -->
        <div class="alert alert-warning" role="alert">Los cambios han sido descartados.</div>
	{% endif %}
    {% if failFoundBorrar %}
<!--     si se pidio que se borrara un mensaje pero no se encontro se muestra este mensaje -->
    	<div class="alert alert-warning" role="alert">No se ha encontrado el contenido, por tanto no se puede borrar.</div>
    {% endif %} 	

    <h1>Búsqueda de Evento</h1>
    <!-- formulario de busqueda -->
    <form action="{% url 'search_event' %}" method="post" role="form" class="form-horizontal" id="formID">
        {% csrf_token %}
        <row>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form.titulo.label }}</label>
                <div class="col-sm-10">
                    {{ form.titulo }}
                </div>
                <div id="textarea_feedbac2k"></div>
                {{ form.titulo.errors }}
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form.expositor.label }}</label>
                <div class="col-sm-10">
                    {{ form.expositor }}
                </div>
                {{ form.expositor.errors }}
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form.date.label }}</label>
                <div class="col-sm-8">
                    {{ form.date }}
                </div>
                {{ form.date.errors }}
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" name="Buscador" value="Buscar">Buscar</button>
                </div>
            </div>
        </row>

        {% if newSearch and not empty %}
            <div class="form-group">
                <h2> <p class="text-info">Mostrando los eventos sin filtro del {{ toShowl.start_index }} al {{ toShowl.end_index }} de los {{ toShowl.paginator.count }} más recientes </p> </h2>
            </div>
        {% elif not empty %}
            <div class="form-group">
                <h2> <p class="text-info">Mostrando los eventos del {{ toShowl.start_index }} al {{ toShowl.end_index }} de los {{ toShowl.paginator.count }} más recientes </p> </h2>
            </div>
        {% endif %}
        {% if not empty%}
<!--         si no esta vacia los resultados los muestra en una tabla -->
        <table id="result_table" class="table table-bordered ">
            <tr class="info">
                <td>Título</td>
                <td>Expositor</td>
                <td>Acción al Contenido</td>
            </tr>
            {% for item in toShowl%}
                <tr>
                    <td>
                        {{ item.title|safe }}
                    </td>
                    <td>
                    	{{item.expositor}}
                    </td>
                    <td>
                        <a href="{% url 'edit_event' item.id %}" class="btn btn-info" role="button">Editar</a>
                        <button type="submit" name="delete" value="{{ item.id }}"  class="btn btn-danger" onClick="return confirm('¿Esta seguro que desea borrar el evento con título \'{{ item.title }}\' ?')" >Borrar</button>
                    </td>
                </tr>

            {% endfor %}
        </table>
		{% endif %}
		
        {%if not empty %}
<!--         si tiene resultados la busqueda se muestra el texto para cambiar las paginas -->
        <div class="pagination">
    	<span class="step-links">
        {% if toShowl.has_previous %}
<!--         si tiene pagina anterior muestra un link para ir hacia esa pagina -->
        <button type="submit" name="p" value="{{ toShowl.previous_page_number }}"  class="btn btn-link">Anterior</button>
        {% endif %}

        <span class="current">
<!--         Muestra cuantas paginas hay y cuantas en total -->
        Mostrando la página {{ toShowl.number }} de {{ toShowl.paginator.num_pages }}.
        </span>

        {% if toShowl.has_next %}
        <!--         si tiene pagina siguiente muestra un link para ir hacia esa pagina -->
        <button type="submit" name="p" value="{{ toShowl.next_page_number }}"  class="btn btn-link">Siguiente</button>
        {% endif %}
   		</span>
        </form>
        </div>
        {% else %}
<!--         Si no se encuentran resultados se mestra un mensaje de error -->
        </form>
        <div class="container-fluid">
            <h2> <p class="text-warning"> No se han encontrado elementos coincidentes con su búsqueda </p> </h2>
        </div>
        {% endif %}
    </form>
{% endblock %}
