{% extends "DCCNews/base.html" %}
{% load staticfiles %}

{% block content %}

<h1>Busqueda de Diapositiva</h1>
<!-- formulario de usqueda -->
<form role="form" method="post" class="form">
    <row>
  <div class="form-group">
    <label for="Palbras_busqueda">Busqueda por titulo</label>
    <input type="text" class="form-control" id="palabras_clave"
           placeholder="eg, curso de robotica movil">
  </div>
  <div class="form-group col-lg-2">
    <label for="Categoria_busqueda">Busqueda por tipo</label>
  </div>
  <div class="form-group col-lg-6">
    	<select  class="form-control">
  		<option>Cualquiera</option>
  		<option>Noticia</option>
  		<option>Titulaciones</option>
		<option>Afiches</option>
	</select>
  </div>
  <div class="form-group col-lg-4 text-center ">
  <button type="submit" class="btn btn-primary btn-lg btn-block">Buscar</button>
  </div>
      </row>
  
</form>

<!-- {%tabla con resultados	} , donde limitar la cantidad de salidas???	-->
<table id="result_table" class="table table-bordered ">
	<tr>
    	<td>Titulo</td>
    	<td>Tipo de Contenido</td> 
  	</tr>
	
	{% for line in list %}
 	<tr>
    	<td><a href= "{% url 'edit_slide' line.id %} ">{{ line.title }}</td>
    	<td>{{ line.tipe }}</td>
  	</tr>
	{% endfor %}

</table>


{% endblock %}
