{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Pantalla</title>
    <link rel="stylesheet" href="{% static 'DCCNews/style/vstyle.css' %}" type="text/css"/>
    <script src="{% static 'DCCNews/js/jquery.min.js' %}" ></script>
</head>

<body>

<div id="contenedor">

    <div id="informacion">
        <div id="logo-tag">
            <div id="logo">
                <img src="{% static 'DCCNews/images/logo_vertical.png' %}" width="245" height="175" alt=""/>
            </div>

            <div class="div-tag">
                {% for current_slide in slide_list %}
                <h1 class="{{current_slide.id}} tag" style="display: none">
                    {{ current_slide.tag }}
                </h1>
                {% endfor %}
            </div>

        </div>

        <div class="news-slides">
            {% for current_slide in slide_list %}
            {% with template=current_slide.template %}
            {% include template with slide=current_slide %}
            {% endwith %}
            {% endfor %}
        </div>

        <div id="tiempo" >
            <div id="fecha">
                <div id="numero" style="text-align:center"><h2></h2></div>
                <div id="mm-yy" style="text-align:center"><h4></h4></div>
                <div id="hora" style="text-align:center"><h3></h3></div>
            </div>

            <div id="dia"><p style="text-align:center"></p></div>
            <div id="temperatura">
                <div id="t-actual"><h2></h2></div>
                <div id="max-min"><h4></h4></div>
                <div id="i-dia"><img src="" width="80px" height="80px" alt=""/></div>
            </div>
        </div>

        <div id="redes">
            <h4>SÍGUENOS</h4>
            <img src="{% static 'DCCNews/images/facebook.png' %}" width="235" height="235" alt=""/><p class="facebook">DCC.UdeChile</p>
			<img src="{% static 'DCCNews/images/twitter.png' %}" width="235" height="236" alt=""/><p class="twitter">@dcc.uchile</p>
            <h3>www.dcc.uchile.cl</h3>

        </div>
    </div>


    <div id="eventos">
        {% if event_list %}
            {% for current_event in event_list %}
            <div class="event">
                {% with template=current_event.template %}
                {% include template with event=current_event %}
                {% endwith %}
            </div>
            {% endfor %}
        {% else %}
        <div class="event" style="width: 1720px">
            <div class="info no-event" >
                <h3 style="text-align: center">No hay eventos</h3>
            </div>
        </div>
        {% endif %}
    </div>

</div>

</body>
<script>

        {% if preview %}
            $(document).ready(function(){
                current_slide = $(".news-slides").children().first();
                current_slide.toggle();
                id = current_slide.attr('id');
                current_tag = $("."+id).first();
                current_tag.toggle();
            });
        {% else %}
            current_new_id = 0;
            $(document).ready(function(){
                var loop = setInterval( showDiv, 10000);
                var time = setInterval( updateTime, 30000);
                var days = {
                    0: "Domingo",
                    1: "Lunes",
                    2: "Martes",
                    3: "Miercoles",
                    4: "Jueves",
                    5: "Viernes",
                    6: "Sábado",
                }
                var months = {
                    0: "Enero",
                    1: "Febrero",
                    2: "Marzo",
                    3: "Abril",
                    4: "Mayo",
                    5: "Junio",
                    6: "Julio",
                    7: "Agosto",
                    8: "Septiembre",
                    9: "Octubre",
                    10: "Noviembre",
                    11: "Diciembre",
                }

                counter = 0;
                length = $(".news-slides").children().length -1;
                step = 0;

                showDiv();
                updateTime();

                function updateVariables(){
                    if(current_new_id == 0){
                        counter = 0;
                    }
                    else{
                        current_new = document.getElementById( current_new_id );
                        index = $(".news-slides").children().index(current_new);
                        if (index == -1){
                            counter = 0;
                        }
                        else{
                            counter = index;
                        }
                    }
                    length = $(".news-slides").children().length -1;
                }

                function showDiv() {
                    id = $(".news-slides").children().get(counter);
                    id = id.id;
                    current_new_id = id;

                    
                    counter == length? counter = 0 : counter++;
                    step++;

                    if(step == 4){
                        step = 0;
                        updateContent();
                    }else{
						$('h1','.div-tag')
                      .stop()
                      .hide()

                    $("."+id).first().fadeIn(1000);

                    $('.new','.news-slides')
                      .stop()
                      .hide()
                      .filter( function() { return this.id.match(id); })
                      .fadeIn(1000);

					}
                }

                function updateContent() {
                    $.get( "/news/update", function( data ) {
                        news = $(data).children(".news-slides").first().prop('outerHTML');
                        tags = $(data).children(".div-tag").first().prop('outerHTML');
                        events = $(data).children("#eventos").first().prop('outerHTML');
                        $(".news-slides").replaceWith(news);
                        $(".div-tag").replaceWith(tags);
                        $("#eventos").replaceWith(events);
                        updateVariables();
                        showDiv();
                        console.log("actualizado");
                    });
                }

                function updateTime(){
                    today= new Date();
                    hour = today.getHours();
                    minutes = today.getMinutes();
                    dayNumber = today.getDate();
                    day = today.getDay();
                    month = today.getMonth();
                    year = today.getFullYear();
                    day = days[day].toUpperCase();
                    month = months[month].toUpperCase();
                    minutes=checkTime(minutes);
                    $("#hora").children().first().text(hour + ":" + minutes);
                    $("#mm-yy").children().first().text(month + " " + year);
                    $("#numero").children().first().text(dayNumber);
                    $("#dia").children().first().text(day);



                    $.get( "http://api.openweathermap.org/data/2.5/weather?q=santiago%2Ccl&units=metric", function( data ) {

                        temp = Math.round(data["main"]["temp"]);
                        max_temp = Math.round(data["main"]["temp_max"]);
                        min_temp = Math.round(data["main"]["temp_min"]);
                        icon = data["weather"][0]["icon"];
                        $("#t-actual").children().first().text(temp+"°");
                        $("#max-min").children().first().text(min_temp+"°/"+max_temp+"°");
                        $("#i-dia").children().first().attr("src","http://openweathermap.org/img/w/"+icon+".png");
                    });
                }
                function checkTime(i){
                    if (i<10) {
                        i="0" + i;
                    }
                    return i;
                }
            });
        {% endif %}

</script>
</html>

